@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Registo";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
     <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clica aqui para confirmares o teu registo</a>
</p>
    }
    else
    {
<p>
        Por favor verifique o seu email.
</p>
    }
}

