@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação do Reset da Password";
}

<h1>@ViewData["Title"]</h1>
<p>
    A sua password levou reset. Por favor <a asp-page="./Login">clique aqui para se logar</a>.
</p>
