@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                Bem-vindo à <b>Reading Reviewys</b>, um fórum onde qualquer pessoa pode expressar a sua opinião e críticas sobre obras de autores apresentadas ao público e onde autores podem mostrar as suas obras e possivelmente imortalizar o seu nome no mundo da leitura. Bem-vindo à Reading Reviewys, um fórum onde qualquer pessoa pode expressar a sua opinião e críticas sobre obras de autores apresentadas ao público e onde autores podem mostrar as suas obras e possivelmente imortalizar o seu nome no mundo da leitura. Bem-vindo à Reading Reviewys, um fórum onde qualquer pessoa pode expressar a sua opinião e críticas sobre obras de autores apresentadas ao público e onde autores podem mostrar as suas obras e possivelmente imortalizar o seu nome no mundo da leitura.
            </p>
        </div>       
    </div>

</div>
