@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <div class="card">
        <div class="card-body text-start">
            <p class="card-text"> 
                Bem-vindo à Reading Reviewys, um fórum onde qualquer pessoa pode expressar a sua opinião e críticas sobre obras 
                de autores apresentadas ao público e onde autores podem mostrar as suas obras e possivelmente imortalizar o seu 
                nome no mundo da leitura.<br /> Caso queira evoluir neste fórum existe um formulátio que o assim permite, basta 
                só inserir o seu <strong>nome</strong>, <strong>nº de cartão de cidadão</strong>, <strong>data de expiração</strong> e <strong>CVV</strong>.
            </p>
        </div>       
    </div>
    <div class="mb-5">
        <h2 class ="display-6">Atualizações</h2>
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Neste momento não existe nenhuma atualização recente.</li>
                </ul>
            </div>
        </div>  
    </div>
</div>
