@{
    ViewData["Title"] = "Políticas de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Introdução</h4>
        <p class="card-text">
            Bem-vindo à nossa página de Políticas de Privacidade. A proteção da sua privacidade é de 
            extrema importância para nós. Esta política tem como objetivo esclarecer como coletamos, 
            usamos, divulgamos, armazenamos e protegemos as informações pessoais que você nos fornece 
            ao utilizar nossos serviços. Estamos comprometidos em garantir a transparência e a 
            segurança dos dados de nossos usuários, e incentivamos você a ler atentamente esta 
            política para compreender nossas práticas de privacidade.
        </p>
        
        <h4 class="card-title">Informações Coletadas</h4>
        <h5 class="card-title">Tipos de Dados Coletados</h5>
        <p class="card-text">
            As informações coletadas podem incluir, mas não se limitam a, seu nome, 
            endereço de e-mail e número de telefone.
        </p>
        <h5 class="card-title">Métodos de Coleção de Dados</h5>
        <p class="card-text">
            Coletamos informações de várias maneiras, incluindo quando você visita nosso site, se 
            registra, faz uma compra, ou utiliza qualquer um de nossos serviços.
        </p>
        
        <h4 class="card-title">Uso das Informações</h4>
        <h5 class="card-title">Finalidades</h5>
        <p class="card-text">
            As informações coletadas são utilizadas para melhorar a sua experiência com nossos 
            serviços.
        </p>
        <h5 class="card-title">Compartilhamento de Dados</h5>
        <p class="card-text">
            Utilizamos seus dados para processar transações, enviar notificações importantes, 
            fornecer suporte ao cliente, personalizar a experiência do usuário, e para fins de 
            marketing e promoção.
        </p>
        
        <h4 class="card-title">Armazenamento e Proteção dos Dados</h4>
        <h5 class="card-title">Segurança</h5>
        <p class="card-text">
            Adotamos medidas de segurança rigorosas para proteger suas informações pessoais contra 
            acesso não autorizado, alteração, divulgação ou destruição.
        </p>
        <h5 class="card-title">Retenção de Dados</h5>
        <p class="card-text">
            Utilizamos tecnologias de criptografia e outros mecanismos de segurança para garantir que 
            seus dados estejam seguros.
        </p>
        
        <h4 class="card-title">Direitos dos Utilizadores</h4>
        <h5 class="card-title">Acesso e Correção</h5>
        <p class="card-text">
            Você tem o direito de acessar, corrigir ou excluir suas informações pessoais armazenadas 
            conosco.
        </p>
        <h5 class="card-title">Exclusão e Restrição</h5>
        <p class="card-text">
            Além disso, você pode optar por não receber nossas comunicações de marketing a qualquer 
            momento, seguindo as instruções de cancelamento de inscrição fornecidas em cada e-mail de 
            marketing.
        </p>

        <h4 class="card-title">Cookies e Tecnologias Similares</h4>
    </div>
</div>

