@{
    ViewData["Title"] = "Políticas de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Introdução</h4>
        <p class="card-text">texto</p>
        <h4 class="card-title">Informações Coletadas</h4>
        <h5 class="card-title">Tipos de Dados Coletados</h5>
        <p class="card-text">texto</p>
        <h5 class="card-title">Métodos de Coleção de Dados</h5>
        <h4 class="card-title">Uso das Informações</h4>
        <h5 class="card-title">Finalidades</h5>
        <p class="card-text">texto</p>
        <h5 class="card-title">Compartilhamento de Dados</h5>
        <p class="card-text">texto</p>
        <h4 class="card-title">Armazenamento e Proteção dos Dados</h4>
        <h5 class="card-title">Segurança</h5>
        <p class="card-text">texto</p>
        <p class="card-text">texto</p>
        <h5 class="card-title">Retenção de Dados</h5>
        <p class="card-text">texto</p>
        <h4 class="card-title">Direitos dos Utilizadores</h4>
        <h5 class="card-title">Acesso e Correção</h5>
        <p class="card-text">texto</p>
        <h5 class="card-title">Exclusão e Restrição</h5>
        <p class="card-text">texto</p>
        <h5 class="card-title">Portabilidade</h5>
        <p class="card-text">texto</p>
        <h4 class="card-title">Cookies e Tecnologias Similares</h4>
        <h5 class="card-title"></h5>
        <p class="card-text">texto</p>
        <h5 class="card-title"></h5>
    </div>
    <!--<p>Use this page to detail your site's privacy policy.</p>-->
</div>

