@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Um erro ocorreu ao processar o seu pedido...</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID do Pedido:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo de Desenvolvedor</h3>
<p>
    Ao trocar para o Ambiente de <strong>Desenvolvedor</strong> ser lhe a disponiblizado mais informação sobre o erro.
</p>